@model Lab11DeckOfCardsApi.Models.CardDeckApi

@{
    ViewData["Title"] = "New Deck";
}

<form asp-action="CardDetails">
<div>
    <h4>You Have Created A New Deck</h4>
    @*@Html.HiddenFor(m => m.deck_id)*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deck_id)
        </dt>
        <dd class = "col-sm-10" name="deck_id">
            @Html.DisplayFor(model => model.deck_id)
        </dd>
    </dl>
</div>
    <div>
        @Html.ActionLink("Draw", "CardDetails", new { id = Model.deck_id })
        @*<button type="submit">Draw 5 Cards!</button>*@
    </div>
</form>

